html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* font-family: 'Noto Sans CJK KR'; */

    /* 스크롤 삭제 */
    -ms-overflow-style: none;
}

ul,
li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

a:link {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

a:visited {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

/* 스크롤 삭제 */
::-webkit-scrollbar {
    display: none;
}

/* Navbar */

.nav {
    /* 사이즈 설정 */
    width: 100%;
    height: 80px;

    /* 컬러 및 투명도 설정 */
    background-color: rgb(204, 185, 157);

    /* 위치 설정 */
    display: flex;
    position: fixed;
    top: 0;
    z-index: 99;
    text-align: center;

}

.logo {
    width: 200px;
    position: absolute;
    margin: 0px;
    left: 0px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
}


.nav-right {
    width: 300px;
    position: absolute;
    margin: 0px;
    right: 50px;
    line-height: 80px;
    text-align: center;
}

.nav-right a {
    padding: 10px;
}

.nav-right a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-right>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    text-align: center;
    position: relative;
}

.nav-right>li:last-child {
    margin-right: 0px;
}

.nav-right>li ul.submenu {
    display: none;
    position: absolute;
    padding: 0;
    text-align: center;
    background-color: black;
}

ul.nav-right>li:hover ul.submenu {
    display: block;
    width: 100px;
    background-color: rgb(235, 235, 235);
    border-radius: 0px 0px 8px 8px ;
}

.footer {
    width: 100%;
    height: 200px;
    margin-top: -10px;
    background-color: rgb(255, 206, 203);
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

button:focus {
    outline: none;
}