.container {
    padding-top: 5%;
    margin: 0 auto;
    width: 70%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}
li {
    list-style: none;
    align-content: center;
}
.productDetails {
    margin-left: 100px;
    height: fit-content;
}
.productImg {
    float: left;
    margin-right: 50px;
    border-style : none;
    border-radius: 20px;
}
.productDetails h3 {
    margin-top: 50px;
    padding-top: 100px;
}
.productDetails p {
    width: 80%;
}
.childDetails {
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
}
table {
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'S-CoreDream-3Light';
    border-collapse: separate;
    border-spacing: 0;

}

tr th,
tr td {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
tr td img{
    border-style: none;
    border-radius : 10px;
}

tr th {
    border-top: 1px solid lightgray;
    text-align: center;
}

.button_mybtn {
    border: none;
    outline: none;
    background-color: #ffffff;
}

.material-icons.red { 
    color:red;
}

.material-icons.black { 
    color:black;
}