/* mypage - myitems update page */
button {
  border-style: none;
  background-color: transparent;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  position: relative;
  margin-top: 2rem;
  /* margin-right: 3rem; */
  background-color: transparent;
  /* border: solid 1px #c8cccf; */
  border: solid 1px rgb(204, 185, 157);
  color: #414f57 !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 12px;
}

.button:hover {
  background-color: rgb(204, 185, 157);
  text-align: center;
  border-radius: 12px;
}

/* submit, update page */
#input_item {
  background-color: #e4e4e4;
  opacity: 50%;
  border-style: none;
  border-radius: 4px;
  height: 2rem;
  
  
}

#update_button.button {
  padding: 0 0;
  width: 5rem;
  height: 3rem;
  margin: auto;
  margin-top: 2em;
  margin-right: 10%;
  margin-left: 10%;
}

#update_form {
  padding-top: 3rem;
  min-width: 420px;
  padding-bottom: 5rem;
}

.update_wrapper h1 {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 5%;
  margin-right: 5%;
}

.update_form_wrapper {
  width: 35rem;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  display: none;
}