/* 페이지 전체 */
.product_all {
    margin: 0 auto;
    margin-top:110px;
}


/* 카테고리 */
.category_bar {
    
    margin: 0 auto;
    margin-left : 32%;
    margin-bottom: 1.5rem;
    list-style: none;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    max-width: 1190px;
}

.category_bar:after {
    content: '';
    display: block;
    clear: both;
}

.category_list {
   
    margin-left: 5%;
    float: left;
}

.category_list a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.category_list a:hover {
    background-color:lightsteelblue;
    color: white;
    border-radius: 30px;
}

@media (max-width :800px){
  .category_bar {
    width :auto;
  }
  .category_list {
    width : auto;
  }
  .category_bar:after {
    width : auto;
  }
}



/* product 이미지 */
.product-align {
    margin: auto;
    flex-direction: column;
}

.product-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px){
    .product-container {
        grid-template-columns:1fr 1fr 1fr;
    }}

.product-card {
    border: none;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
}

.product-img {
    width: 90%;
    height: 90%;
    padding-top: 4%;

}



.product-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    /* display: block; */
    border-style: none;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.snip1585 {
    background-color: rgb(41, 46, 57);
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    max-width: 500px;
    min-width: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 95%;
    border-radius:30px;
  }
  
  .snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .snip1585:before,
  .snip1585:after {
    background-color: rgba(46, 52, 64,  0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  
  .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585 img {
    vertical-align:top;
    max-width: 100%;
    max-height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  
  }
  
  .snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .snip1585:hover > img,
  .snip1585.hover > img {
    opacity: 0.8;
  }
  
  .snip1585:hover:before,
  .snip1585.hover:before,
  .snip1585:hover:after,
  .snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  .snip1585:hover figcaption,
  .snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  
  
  

