a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
    color: white
}

.grid-container {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3em;
}

/* hover styles */
.location-listing {
    position: relative;
}

.thumbnail-wrappper {
    overflow: hidden;
    float: left;
    width: 250px;
    /* need to overwrite inline dimensions */
    margin-bottom: 40px;
}

.thumbnail {
    position: relative;
    padding-top: 100%;
    /* 1:1 ratio */
    overflow: hidden;
}

.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}


.thumbnail .centered img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    /* transform: scale(1.0); */

    position: absolute;
    top: 0;
    left: 0;
    max-width: 300%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.3);
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
