a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.grid-container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10rem;
}

@media only screen and (min-width: 1200px){
    .grid-container {
        grid-template-columns: repeat(4,1fr);
    }}

/* hover styles */
.listing {
    position: relative;
    text-align: center;
}

.thumbnail-wrappper {
    overflow: hidden;
    float: left;
    width: 250px;
    /* need to overwrite inline dimensions */
    margin-bottom: 40px;
}

.thumbnail {
    position: relative;
    padding-top: 100%;
    /* 1:1 ratio */
    overflow: hidden;
}

.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}


.thumbnail .centered img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    /* transform: scale(1.0); */

    position: absolute;
    top: 0;
    left: 0;
    max-width: 300%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.3);
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing:hover .title {
    opacity: 1;
}

.listing:hover .image img {
    filter: blur(2px);
}

.centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
