a:visited.title,
a:hover.title,
a:focus.title,
a:active.title {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-img{
    width: 100%;
    height: 100%;
}
.grid-container {
    /* width: 70%;
    margin: 0 auto;
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; */
    width: 90%;
    max-width: 1300px;
    padding-top: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* hover styles */
.listing {
    position: relative;
    text-align: center;
}

.thumbnail-wrappper {
    overflow: hidden;
    float: left;
    width: 250px;
    /* need to overwrite inline dimensions */
    margin-bottom: 40px;
}

.thumbnail {
    position: relative;
    padding-top: 100%;
    /* 1:1 ratio */
    overflow: hidden;
}

.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}


.thumbnail .centered img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    /* transform: scale(1.0); */

    position: absolute;
    top: 0;
    left: 0;
    max-width: 300%;
    height: 150%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    font-size: 1.2rem;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 250px;
    width: 250px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.3);
    color: white;

    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing:hover .title {
    opacity: 1;
}

.listing:hover .image img {
    filter: blur(2px);
}

.centered img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200%;
}

 /*  */
 /*  */
 /*  */

 .product-align {
    margin: auto;
    flex-direction: column;
}

.product-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px){
    .product-container {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }}


.product-img {
    width: 90%;
    height: 90%;
    padding-top: 4%;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border-style: none;
}

.snip1585 {
    background-color: rgb(41, 46, 57);
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    max-width: 500px;
    min-width: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 95%;
  }
  
  .snip1585 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  
  .snip1585:before,
  .snip1585:after {
    background-color: rgba(46, 52, 64,  0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
  }
  
  .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }
  
  .snip1585 img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
    backface-visibility: hidden;
  }
  
  .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  
  }
  
  .snip1585 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  
  .snip1585:hover > img,
  .snip1585.hover > img {
    opacity: 0.8;
  }
  
  .snip1585:hover:before,
  .snip1585.hover:before,
  .snip1585:hover:after,
  .snip1585.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  
  .snip1585:hover figcaption,
  .snip1585.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  