{% load static %}
{% load django_material_icons %}

<!doctype html>
<html lang="ko-kr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title%}{% endblock %}</title>
    <!-- Css static-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/75e53ee709.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% block link %} {% endblock %}">
    {% block head %} {% endblock %}

</head>

<body>
    <div class="wrapper">
        <!--navbar -->
        <header>
            <div class="nav">

                <a class="logo" href="{%url 'main'%}">
                    <!-- <img src="{% static 'img/logo.svg' %}" width="30" height="30" alt="logo" class="base-img"> -->
                    ZEROWASTE </a>

                <ul class="nav-right">

                    <li><a class="link" href="{% url 'product' 1 %}">SHOP</a></li>

                    {% if user.is_authenticated %}
                    <li><a class="link" href="{% url 'tip' %}">TIP</a></li>
                    <li><img src="{% static 'img/user.png' %}" width="30" height="30" alt="logo" class="user-img">
                        {{user.username}}
                        <ul class="submenu">
                            <li><a class="link" href="{% url 'likeCart' %}">LIKES</a></li>
                            <li><a class="link" href="{% url 'mypage' %}">MY</a></li>
                            <li><a class="link" href="{% url 'logout' %}">LOGOUT</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a class="link" href="{% url 'tip' %}">TIP</a></li>
                    <li><a class="link" href="{% url 'login' %}">LOGIN</a></li>
                    {% endif %}

                </ul>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="footer">
            Copyright ⓒ 멋쟁이사자처럼 8기 팀 2DX2. All Rights Reserved.
        </div>
    </footer>
</body>

</html>