{% extends 'base.html' %}
{% load static %}
{% block title %}쇼핑하기{% endblock %}

{% block link %}{% static 'css/childProduct.css' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="productDetails">
        <img src="{{ product.image.url }}" class="productImg" width="30%" height="30%">
        <h3> {{ product.name }} </h3>
        <p> {{product.detail }} </p>
    </div>

    <div class="childDetails">
        <table>
            <thead>
                <tr>
                    <th>판매처</th>
                    <th>상품사진</th> 
                    <th>상품명</th>
                    <th>판매가</th>
                    <th>배송비</th>
                    <th>찜</th>
                </tr>
            </thead>
            <tbody>
                
                    {% for childproduct in product.childproduct_set.all %}
                    <tr>
                    <td>
                        {{childproduct.shopName}}
                    </td>
                    <td>
                        <a href="{{ childproduct.shopLink }}" target="_blank"> <img src="{{ childproduct.image.url }}" class="img" width="100px" height="100px" border-radius="10px"
                            alt="Responsive image"> </a>
                    </td>
                    <td>
                        <a href="{{ childproduct.shopLink }}" target="_blank"> {{childproduct.name}} </a>
                    </td>
                    <td>
                        <a href="{{ childproduct.shopLink }}" target="_blank"> {{childproduct.price}}원 </a>
                    </td>
                    <td>
                        {{childproduct.ship}}원
                    </td>
                    <td>
                        {% if user.is_authenticated %}
                        <button class="button_mybtn" name="add_cart" value="add_cart"
                        onClick="alertOK()">
                        <a href="{% url 'productlike' childproduct.id %}" class=""><i class="material-icons md-dark">favorite</i></a>
                        <p>{{childproduct.likes}}</p>
                        </button>
                        {% else %}
                        <button class="button_mybtn" onClick="alertConfirm();location.href='login';">
                            <a href="{% url 'productlike' childproduct.id %}" class=""><i class="material-icons md-dark">favorite</i></a>
                            <p>{{childproduct.likes}}</p>
                        </button>
                        <!-- type="submit"  -->
                        {% endif %}
                    </td>
                </tr>
                    {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
<script>
    function alertConfirm() {
        var alertToVisiter = alert('로그인하세요');
        event.preventDefault();

    }
</script>
{% endblock content %}