{% extends 'base.html' %}
{% load static %}

{% block title %}상품 상세페이지{% endblock %}

{% block link %}{% static 'css/mypage.css' %}{% endblock %}

{% block content %}

<div class="detail_wrapper">
    <h2>{{myItems_detail.itemName}}</h2>
    <br>
    구매처 : {{myItems_detail.itemShop}}
    <br><br>
    {{myItems_detail.itemDate|date:"Y M d D"}}
    <br>
    <br>
    <a href="{% url 'update_myItem' myItems_detail.id %}" class="button" id="detail_update_button"><button type="submit" class="btn btn-primary">수정</button></a>
    <a href="{% url 'delete_myItem' myItems_detail.id %}" class="button" id="detail_delete_button"><button type="submit" class="btn btn-primary">삭제</button></a>
</div>

{% endblock content %}