{% extends 'base.html' %}
{% load static %}
{% block title %}쇼핑하기{% endblock %}

{% block link %}{% static 'css/likeCart.css' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="headTxt">
        <p> 찜한 상품 </p>
    </div>
    <table>
        <thead>
            <tr>
                <th>판매처</th>
                <th>상품사진</th>
                <th>상품명</th>
                <th>판매가</th>
                <th>배송비</th>
            </tr>
        </thead>
        <tbody>

            {% if totalSum == 0 %}
            <tr>
                <td class="nothing" colspan="5"><br>찜한 상품이 없어요!<br><br></td>
            </tr>
            {% else %}
            {% for like in likes %}
            <tr>
                <td>
                    {{like.product.shopName}}
                </td>
                <td>
                    <a href="{{ like.product.shopLink }}" target="_blank"> <img src="{{ like.product.image.url }}"
                            class="img" width="100px" height="100px" alt="Responsive image"> </a>
                </td>
                <td>
                    <a href="{{ like.product.shopLink }}" target="_blank"> {{like.product.name}} </a>
                </td>
                <td>
                    <a href="{{ like.product.shopLink }}" target="_blank"> {{like.product.price}}원 </a>
                </td>
                <td>
                    {{like.product.ship}}원
                </td>
            </tr>
            {% endfor %}
            {% endif %}

        </tbody>
    </table>
</div>
{% endblock content %}