{% extends 'base.html' %}
{% load static %}

{% block title %}마이페이지{% endblock %}

{% block link %}{% static 'css/mypage.css' %}{% endblock %}

{% block content %}

<div class="mypage_all">
    
    <!-- MyLevel -->
    <div id="wrapper">
        <section id="main">
            <section id="header">
                <p>자연을 위해 한 노력</p>
                <h2>My Level</h2>
                <span class="avatar">
                    {% if myItems_myLevel.count == 0 %}
                        <p>당신의 화분에 씨앗을 심어보세요</p>
                    {% elif myItems_myLevel.count > 0 %}
                        <img src="{% static 'img/seed.png' %}">
                    {% elif myItems_myLevel.count > 5 %}
                        <img src="{% static 'img/gardening.png' %}">
                    {% else %}
                        <img src="{% static 'img/trees.png' %}">
                    {% endif %}
                </span>
                <h1>Level {{myItems_myLevel.count}}</h1>
            </section>
        </section>
        

        <ul class="icons">
            <button onClick="popup_submit();location.href=''"><li><a href="#" class="button">내가 산 제품 등록하기</a></li></button>
        </ul>
        <br>
        <br>
        
       

        <!-- 타임라인 -->
                {% for myItems in myItems_myLevel %}
                  <div>
                    <time>{{myItems.itemDate}}</time>
                    {{myItems.itemShop}}
                    {{myItems.itemName}}
                    <br>
                    <a href="{% url 'detail_myItem' myItems.id %}" class="button_more"><img src="{% static 'img/pen.png' %}" width="10"><img src="{% static 'img/trash.png' %}" width="10"></a>
                  </div>

                {% endfor %}
            </ol>
            
        </section>
        
    </div>
</div>

<script>
    function popup_submit(){
        var url = "submit_myItem";
        var name = "내가 산 제품 등록하기";
        var option = "width = 500, height = 500, top = 100, left = 200, location = no"
        window.open(url, name, option); 
    }

</script>


{% endblock content %}