{% extends 'base.html' %}
{% load static %}
{% block title %} 쇼핑하기 {% endblock %}

{% block link %}{% static 'css/product.css' %}{% endblock %}

{% block content %}

<!-- category bar -->
<div class="product_all">
    <ul class="category_bar">
        {% for categories in categories %}
        {% if category == categories %}
        <li class="category_list"><a href="{% url 'product' categories.id %}"
                style="background-color:darkgrey; color:white; border-radius:30px;">{{categories}}</a>
        </li>
        {% else %}
        <li class="category_list"><a href="{% url 'product' categories.id %}">{{categories}}</a></li>
        {% endif %}
        {% endfor %}

    </ul>
</div>

<!-- product 상품 부분 -->

<div class="product-align">
    <div class="product-container">
        {% for post in posts %}
            <figure class="snip1585">
                {% if post.image %}
                <img src="{{post.image.url}}" alt="image">
                {% endif %}
        <figcaption>
            <h3>{{post.name}}</h3>
        </figcaption>
        <a href="{% url 'childproduct' post.id %}"></a>
        </figure>
        {% endfor %}
    </div>
</div>


{% endblock content %}
