{% extends 'base.html' %}
{% load static %}
{% block title %}팁{% endblock %}

{% block link %}{% static 'css/tip.css' %}{% endblock %}

{% block content %}

<div class="grid-container">

    {% for tip in tips %}

        <article class="listing">

        <a class="title" href="{% url 'tip_detail' tip.id %}">{{tip.title}}</a>
        <div class="thumbnail-wrappper">
            <div class="thumbnail">
            <div class="centered">
            <img src="{{ tip.cover.url }}" class="cover"></a>
            </div>
            </div>
        </div>

        </article>

    {% endfor %}
</div>

{% endblock content %}