{% extends 'base.html' %}
{% load static %}
{% block title %}팁{% endblock %}

{% block link %}{% static 'css/tip.css' %}{% endblock %}

{% block content %}
<img src="{% static 'img/tip.jpg' %}" class="main-img" alt="tip main">
    <div class="product-align">
    <div class="grid-container">

        {% for tip in tips %}

        <div class="listing">

            <a class="title" href="{% url 'tip_detail' tip.id %}">{{tip.title}}</a>
            <div class="thumbnail-wrappper">
                <div class="thumbnail">
                    <div class="centered">
                        <img src="{{ tip.cover.url }}" class="cover"></a>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>
    </div>

{% endblock content %}