{% extends 'base.html' %}
{% load static %}
{% block title %}팁{% endblock %}

{% block link %}{% static 'css/tip_detail.css' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="title">{{tip.title}}</div>
    <div class="date">{{tip.pub_date|date:"Y M D"}}</div>
    <img class="cover" src="{{ tip.cover.url }}" alt="cover">

    <hr>

    {% for body in tip.tipbody_set.all %}

    <img src="{{ body.image.url }}" class="cover" alt="tip-image">
    <div class="body">{{body.body}}</div>

    {% endfor %}
</div>
{% endblock content %}