{% extends 'base.html' %}
{% load static %}

{% block title %}상품 정보 수정{% endblock %}

{% block link %}{% static 'css/mypage_update.css' %}{% endblock %}

{% block content %} 

<div class="update_wrapper">
    <h1>등록한 제품 수정하기</h1>
    <div class="update_form_wrapper">
        <div class="form_single_wrapper">
            <form action="{% url 'update_myItem' myItems_update.id %}" method="POST" id="update_form">
                {% csrf_token %}
                <label for="input_itemName">제품명</label>
                <input type="text" name="itemName" value="{{myItems_update.itemName}}" class="form-control" id="input_item">
                <br><br>
                <label for="input_itemShop">구매처</label>
                <input type="text" name="itemShop" value="{{myItems_update.itemShop}}" class="form-control" id="input_item">
                <br><br>
                <label for="input_itemDate">구매일</label>
                <input type="date" name="itemDate" value="{{myItems_update.itemDate}}" class="form-control" id="input_item" placeholder="YYYY.MM.DD">
                <br><br>
    
                <a class="button" id="update_button"><button type="submit" class="btn btn-primary">수정하기</button></a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
