<h1>등록한 제품 수정하기</h1>
<form action="{% url 'update_myItem' myItems_update.id %}" method="POST">
    {% csrf_token %}
    <label for="input_itemName">제품명</label>
    <input type="text" name="itemName" value="{{myItems_update.itemName}}" class="form-control" id="input_itemName">
            
    <label for="input_itemShop">구매처</label>
    <input type="text" name="itemShop" value="{{myItems_update.itemShop}}" class="form-control" id="input_itemShop">

    <label for="input_itemDate">구매일</label>
    <input type="date" name="itemDate" value="{{myItems_update.itemDate}}" class="form-control" id="input_itemDate" placeholder="YYYY.MM.DD">

    <button type="submit" class="btn btn-primary">수정하기</button>
</form>
